*.user
*.suo
_ReSharper.*
*.ReSharper
.svn/
bin/
Bin/
obj/
TestResults/
*.Publish.xml
build.xml
_Logs/
TestResult.xml
*.docstates
*.dotcover
*.DotSettings
.project
.pydevproject
.settings/
.idea/
__pycache__/
*.pyc
node_modules/
.idea/
**/Backup/
**/.vs/
*.pubxml
*.dbmdl
UpgradeLog.htm
*.min.css
*.min.js
packages
!**/node.exe
/.ssh/*
*.log
.env
dist/

credentials.json
credentials1.json
credentials_base64.txt
src/app/services/credentials_g.json
readme.md
env-vars.json
deploy-all.bat
deploy-bot.bat
deploy-sd.bat
